body {
   text-align: justify;
   font-family: 'Merriweather', serif;
   background-color: #777777;
   display: flex;
   flex-direction: column;
   color: #ffffff;
}

h1, h3 {
    color: #550000;
}

ul {
    list-style-type: circle;
}

iframe{
    display: flex;
    align-content: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 75%;
    padding-top: 50px;
    margin-top: 50px;
    align-self: border-left;
}

th,td {
    border: 3px solid #550000;
    text-align: center;
    padding-top: 5px;
    background-color: #777777;
}

thead {
    background-color: #fffbeb;
}

td:hover{
    transform: scale(1.1);
    background-color:#c1ada8;
}


a {
  color: #550000;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  text-decoration: none;


}
a:hover {
  color: #550000;
  text-decoration: underline;
}

a:visited {
  color: #550000; 
}

iframe {
  display: block;
  margin: 0 auto;
}

iframe:hover {
    transform: scale(1.1);
  transition: transform 0.3s ease;
}
